<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="m2fc_customer" frontName="m2fc">
            <module name="M2FC_M2FC" />
        </route>
    </router>
</config>